body {
  background-color: black;
}

.digits {
  width: 15svw;
  height: 24svw;
  fill-opacity: 0;
}

.colon {
  width: 3svw;
  height: 24svw;
}

.digits, .colon {
  fill: lime;
}

.digits path, .colon circle {
  filter: drop-shadow(0 0 1svh lime);
}