body {
  display: flex;
  justify-content: center;
}

#frame {
  display: flex;
  justify-content: center;
  width: 18.7rem;
  border: .25rem solid black;
  border-radius: .25rem;
}

.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 48%);
}

.bottom {
  clip-path: polygon(0% 52%, 100% 52%, 100% 100%, 0% 100%);
}

.dial {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  width: 5.6rem;
  height: 5.6rem;
  padding: .25rem;
  text-align: center;
  font-weight: bold;
  perspective: 20rem;
}

.dial span {
  position: absolute;
  background-color: black;
  color: white;
  padding: .5rem;
  font-size: 4rem;
  transition: all 400ms linear;
}
