#main {
	display: flex;
}

#svgBox {
	margin: auto;
	height: 90vh;
	max-height: 100vw;
	width: 90vh;
	border-radius: 1vh;
}

path {
	color: white;
	transition: transform 500ms;
  backface-visibility: hidden;
}
